@font-face {
    font-family: OnePiece;
    src: url('../OnePiece-zAqL.ttf');
}

.logo h2 {
    font-family: OnePiece;
}

.logo {
    color: #FF6347;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 2px 2px black;
    padding: 0;
}