@font-face {
    font-family: OnePiece;
    src: url('../OnePiece-zAqL.ttf');
}

.logo h2 {
    font-family: OnePiece;
}

.logo {
    color: #FF6347;
    text-decoration: none;
    font-family: OnePiece;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2.5px 2.5px black;
    padding: 0;
}